* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(-120deg, #8953bb, #11031f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h2 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #333;
    text-align: center;
    border-bottom: thin solid #ccc;
    padding-bottom: 16px;
}

#cadastroForm {
    display: flex;
    flex-direction: column;
}

#cadastroForm label {
    margin-bottom: 8px;
    font-weight: 700;
    color: #333;
}

#cadastroForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#cadastroForm input:focus {
    border-color: #8953bb;
    box-shadow: 0 0 8px rgba(137, 83, 187, 0.2);
}

button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #8953bb;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #7235a6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #5e2889;
}